.postItem__block {
  background: #ffffff;
  width: 450px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 3% 6%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10%;
  margin-top: 5%;
}
.postItem__header__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
