#navbar {
  background: #fff5ec;
}
.navbar__container {
  padding-top: 2%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2%;
}
.navbar__logo img {
  width: 120px;
}
.navbar__titles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}
.navbar__item {
  font-size: 1.5;
  font-weight: 700;
  cursor: pointer;
}
.navbar__item:hover {
  color: #f2994a;
}

.navbar__auth__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  width: 250px;
}
.navbar__login {
  border: none;
  background: none;
  padding: 10%;
  cursor: pointer;
}
.navbar__login:hover {
  color: #f2994a;
}
.navbar__register {
  border: none;
  background: #f2994a;
  padding: 5%;
  border-radius: 14px;
  color: #ffffff;
}
