.main {
    background: #FFF5EC;
    height: 100vh;
    padding: 50px;
}




.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }


  .block_btn {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
  }
  
  .button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #F2994A;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    
  }
  
  .button:hover {
    background-color: #efae75;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
    
  }
  
  .text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  