@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Poppins:wght@300;500;700&family=Roboto:wght@400;500&family=Yellowtail&display=swap");

*,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
