@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.chooseCategories_container {
    background: #FFF5EC;
}


.chooseCategories_block_1_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


.chooseCategories_block_1_txt_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25.24px;
    line-height: 35.33px;
    color: #F2994A;
    margin: 10px 0;
}

.chooseCategories_block_1_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 46.26px;
    line-height: 55.52px;
    color:  #333333;
    margin: 10px 0;

}


.chooseCategories_block_1_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}


.chooseCategories_block_1_list_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 328px;
    height: 160.96px;
    border-radius: 31.54px;
    gap: 8.41px;
    background:#FFFFFF;
    margin: 30px;
    
}


.chooseCategories_block_1_list_main_txt_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 21.03px;
    line-height: 29.44px;
    color:#333333;
}


.chooseCategories_block_1_list_main_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14.72px;
    line-height: 22.08px;
    color:#828282;

}




.chooseCategories_block_1_list_main_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 328px;
    height: 160.96px;
    border-radius: 31.54px;
    gap: 8.41px;
    background: #F2994A;
    margin: 30px;

}


.chooseCategories_block_1_list_main_txt_1_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 21.03px;
    line-height: 29.44px;
    color:#FFFFFF;
}

.chooseCategories_block_1_list_main_txt_2_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14.72px;
    line-height: 22.08px;
    color:#FFFFFF;

}







.chooseCategories_block_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}




.chooseCategories_block_2_img_woman {
    position: relative;
    z-index: 1;

}


.chooseCategories_block_2_img_frame {
    position: absolute;
    z-index: 2;
    
    
}


.chooseCategories_block_2_img_interview {
    position: absolute;
    z-index: 2;
    left: 50px;
    

}



.chooseCategories_block_2_txt_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25.24px;
    line-height: 35.33px;
    color:#F2994A;
    margin: 20px 0;
}


.chooseCategories_block_2_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 46.25px;
    line-height: 55.52px;
    color: #333333;
    margin: 20px 0;
}



.chooseCategories_block_2_txt_3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 21.03px;
    line-height: 29.44px;
    color: #000000;
    margin: 20px 0;
}


.chooseCategories_block_2_txt_btn {
    width: 220.47px;
    height: 79.47px;
    border-radius: 31.54px;
    background:  #F2994A;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 21.03px;
    line-height: 29.44px;
    color: #FFFFFF;
    margin: 40px 0;

}








