@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chooseCategories_container {
  background: #fff5ec;
}

.chooseCategories_block_1_txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.chooseCategories_block_1_txt_1 {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 23px;
  line-height: 33px;
  color: #f2994a;
  margin: 10px 0;
  padding: 20px;
}

.chooseCategories_block_1_txt_2 {
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-size: 43px;
  line-height: 50px;
  color: #333333;
  margin: 10px 0;
}

.chooseCategories_block_1_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.chooseCategories_block_1_list_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 328px;
  height: 160.96px;
  border-radius: 31.54px;
  gap: 8.41px;
  background: #ffffff;
  margin: 30px;
}

.chooseCategories_block_1_list_main_txt_1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  margin: 10px;
}

.chooseCategories_block_1_list_main_txt_2 {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 13px;
  line-height: 20px;
  color: #828282;
}

.chooseCategories_block_2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}




.chooseCategories_block_2_txt_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    font-size: 24px;
    line-height: 34px;
    color:#F2994A;
    margin: 20px 0;
}


.chooseCategories_block_2_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 43px;
    line-height: 50px;
    color: #333333;
    margin: 20px 0;
}



.chooseCategories_block_2_txt_3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 27px;
    color: #000000;
    margin: 20px 0;
}


.chooseCategories_block_2_txt_btn {
    width: 220.47px;
    height: 79.47px;
    border-radius: 31.54px;
    background:  #F2994A;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 21.03px;
    line-height: 29.44px;
    color: #FFFFFF;
    margin: 40px 0;
    border: none;

}


.chooseCategories_block_2_txt_btn:hover{
    background-color: #FFD3C0;
}









@media(max-width: 1440px) {

    .chooseCategories_block_1_txt_1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #F2994A;
        margin: 10px 0;
        padding: 20px;
    }


    .chooseCategories_block_1_txt_2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        color:  #333333;
        margin: 10px 0;
    
    }



    .chooseCategories_block_1_list_main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 280px;
        height: 120px;
        border-radius: 31.54px;
        gap: 8.41px;
        background:#FFFFFF;
        margin: 30px;
        
    }

    .chooseCategories_block_1_list_main_txt_1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 550;
        font-size: 17px;
        line-height: 25px;
        color:#333333;
        margin: 10px;
    }


    
.chooseCategories_block_1_list_main_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color:#828282;
}

.chooseCategories_block_2_txt_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    color:#F2994A;
    margin: 20px 0;
}

.chooseCategories_block_2_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 41px;
    line-height: 48px;
    color: #333333;
    margin: 20px 0;
}



.chooseCategories_block_2_txt_3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 280;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
    margin: 20px 0;
}


.chooseCategories_block_2_txt_btn {
    width: 210px;
    height: 78px;
    border-radius: 31.54px;
    background:  #F2994A;
    font-family: 'Poppins', sans-serif;
    font-weight: 650;
    font-size: 19px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 40px 0;
    border: none;

}


}










@media(max-width: 768px) {


    .chooseCategories_main {
        margin: 0;
        padding: 0;
    }

    .chooseCategories_block_1_txt_1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 350;
        font-size: 17px;
        line-height: 25px;
        color: #F2994A;
        margin: 0px 0;
        padding: 0px;
    }


    .chooseCategories_block_1_txt_2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 450;
        font-size: 35px;
        line-height: 40px;
        color:  #333333;
        margin: 10px 0;
        
    
    }



    .chooseCategories_block_1_list_main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 280px;
        height: 120px;
        border-radius: 31.54px;
        gap: 8.41px;
        background:#FFFFFF;
        margin: 20px;
        
    }

    .chooseCategories_block_1_list_main_txt_1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 550;
        font-size: 17px;
        line-height: 25px;
        color:#333333;
        margin: 10px;
    }


    
.chooseCategories_block_1_list_main_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color:#828282;
}


.chooseCategories_block_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

    
}

.chooseCategories_block_2_txt {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chooseCategories_block_2_txt_1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    font-size: 20px;
    line-height: 30px;
    color:#F2994A;
    margin: 20px 0;
}

.chooseCategories_block_2_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    font-size: 37px;
    line-height: 44px;
    color: #333333;
    margin: 20px 0;
}



.chooseCategories_block_2_txt_3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 250;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 20px 0;
}


.chooseCategories_block_2_txt_btn {
    width: 180px;
    height: 55px;
    border-radius: 31.54px;
    background:  #F2994A;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 40px 0;
    border: none;
}


}








@media(max-width: 320px) {

    .chooseCategories_block_1_txt {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        
    
    }


    
    .chooseCategories_block_1_txt_1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 350;
        font-size: 17px;
        line-height: 25px;
        color: #F2994A;
        margin: 0px 0;
        padding: 0px;
        margin: 2px 0;
    }


    
   


    .chooseCategories_block_1_txt_2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 40px;
        color:  #333333;
        margin: 10px 0;
    
    }



    .chooseCategories_block_1_list_main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 280px;
        height: 100px;
        border-radius: 31.54px;
        gap: 8.41px;
        background:#FFFFFF;
        margin: 30px;
        
    }


    .chooseCategories_block_1_list {
        margin: 0;
    }

    .chooseCategories_block_1_list_main_txt_1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color:#333333;
       
    }


    
.chooseCategories_block_1_list_main_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    color:#828282;
}


.chooseCategories_block_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}


.chooseCategories_block_2_img_woman {
  position: relative;
  z-index: 1;
}

.chooseCategories_block_2_img_frame {
  position: absolute;
  z-index: 2;
}

.chooseCategories_block_2_txt_1 {
  font-family: "Poppins", sans-serif;
  font-weight: 450;
  font-size: 24px;
  line-height: 34px;
  color: #f2994a;
  margin: 20px 0;
}

.chooseCategories_block_2_txt_2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #333333;
    margin: 20px 0;
}

.chooseCategories_block_2_txt_3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin: 20px 0;
    padding: 10px;
}

.chooseCategories_block_2_txt_btn {
    width: 150px;
    height: 45px;
    border-radius: 31.54px;
    background:  #F2994A;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0px 0;
    border: none;
}
}
